h1.fire {
    font-family: "Russo One", arial, sans-serif;
	text-align:center;
    color: #fff;
    font-size: 14vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -15%);
    z-index: 1000;
	animation: fadeIn 30s ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;

}

h2.fire {
    font-family: "Russo One", arial, sans-serif;
	text-align:center;
    color: #fff;
    font-size: 5.2vw;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -170%);
    z-index: 1000;
	animation: fadeIn 30s ease;
	animation-delay: 0s;
	animation-iteration-count: infinite;
	animation-timing-function: linear;
	animation-fill-mode: forwards;

}
        @keyframes fadeIn {
          0% {
            opacity: 0;
          }
		  25% {
            opacity: 0;
          }
		  50% {
            opacity: 0.9;
          }
		  75% {
            opacity: 0;
          }
          100% {
            opacity: 0;
          }
        }
.cssanimation, .cssanimation span {
    animation-duration: 1s;
    animation-fill-mode: both;
}

.cssanimation span { display: inline-block }

.leSnake span { animation: leSnake 1.5s ease-in-out; animation-iteration-count: infinite }
@keyframes leSnake {
    from, to { transform: translateY(0px) }
    50% { transform: translateY(30px) }
}
.leWaterWave span { animation: leWaterWave .2s linear infinite; animation-iteration-count: infinite }
@keyframes leWaterWave {
    50% { transform: skewY(1deg) skewX(-1deg) scale(1.06) }
}
